@import url('../css/root-style.css');

.cookie-banner {
    background-color: var(--color-tertiary);
    gap: 1rem;
    z-index: 999;

    & .btn {
        padding: 0.5rem 1rem;
        border: 0px solid rgba(0, 0, 0, 0);
        cursor: pointer;
    }
}

.to-top {
    display: none;
    opacity: 0;
    bottom: 5%;
    right: 2.5rem;
    z-index: 999;
    background-color: var(--color-primary);
    border: 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    & svg {
        fill: var(--color-white-500);
        width: 40px;
    }
}

.tooltip::after {
    content: attr(data-tooltip);
    display: block;
    opacity: 0;
    width: fit-content;
    height: 0;
    position: absolute;
    transform: translateX(-32.5%);
    scale: 0.80;
    padding: 0 0.75rem;
    font-weight: 600;
    background-color: var(--color-black);
    z-index: 1;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.tooltip:hover::after {
    opacity: 1;
    height: auto;
    transform: translate(-32.5%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.container-fluid {
    padding: 1rem 10rem !important;
}

.navigation {
    .logo {
        width: 50px;
        max-width: 55px;
    }

    & .search-btn {
        background-color: rgba(0, 0, 0, 0);
        border: 0px solid rgba(0, 0, 0, 0);
        height: 40%;
        padding: 0 0.5rem;
        display: none;
    }

    .search-bar {
        border: 0px solid rgba(0, 0, 0, 0);
        font-weight: 700;
        width: 15rem;
        padding: 0 1rem;
        height: 2.5rem;
        max-height: 3rem;
        transition: all 0.3s ease-in-out;
    }

    .search-bar:focus+.search-btn {
        position: absolute;
        display: block !important;
        transform: translateX(12rem);
        animation: fadeIn 0.3s ease-in-out;
    }

    .nav-bar {
        gap: clamp(1rem, 3vw, 3rem);

        .badge {
            position: relative;
        }

        & a:hover+.dropdown,
        .dropdown:hover {
            display: grid !important;
            opacity: 1;
            transform: translateY(-1.5rem);
            transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
        }

        & a:hover+.dropdown.dd-products,
        .dropdown.dd-products:hover {
            display: flex !important;
            opacity: 1;
            transform: translateY(-1.5rem);
            transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
        }

        & .badge::before {
            content: attr(data-badge);
            display: flex;
            width: fit-content;
            position: absolute;
            transform: translate(1.25rem, -1.55rem);
            scale: 0.80;
            padding: 0 0.75rem;
            border-radius: 5px;
            background-color: var(--color-sale);
            z-index: 1;
        }

        & #dropmenu::after {
            content: '\e5c5';
            display: block;
            width: fit-content;
            position: absolute;
            top: 0;
            transition: width .4s cubic-bezier(.2, .6, .24, 1);

        }

        & .badge.new::before {
            transform: translate(3.25rem, -1.55rem);
            background-color: var(--color-new);
        }
    }
}

/* Dropdown */

.dropdown {
    display: none !important;
    position: absolute;
    top: 8%;
    left: 10.25%;
    height: fit-content;
    width: 80%;
    background-color: var(--color-white);
    border-radius: .5rem;
    box-shadow: var(--dropshadow-default);
    z-index: 9999;
    padding: 1rem 0;
    opacity: 0;
    transform: translateY(-1rem);
    transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);

    grid-template-rows: 1.5rem 1fr;
    row-gap: 1rem;

    .header {
        height: fit-content;
    }

    .body {
        a {
            height: fit-content;
            width: fit-content;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--color-secondary);
            }
        }

        .dd-card {
            overflow: hidden;
            mask: content-box;
            --transition-quick: cubic-bezier(.2, .6, .24, 1);

            & img {
                width: 90%;
                object-fit: cover;
                transition: all 6s var(--transition-quick);
            }

            &:hover img {
                transform: scale(1.5);
            }

            & del {
                color: var(--color-black-300);
            }

            & p {
                font-weight: 650;
                color: var(--color-secondary);
            }

            & h5,
            div {
                background-color: var(--color-white);
                width: 100%;
                text-align: center;
                justify-content: center;
                z-index: 2;
            }

            & input[type="button"] {
                background-color: var(--color-white-500);
                padding: 0.25rem 1rem;
                margin: 0.5rem 0 0 0;
                border: 2px solid var(--color-secondary);
                color: var(--color-secondary);
                font-weight: 800;
                font-size: 0.8rem;
                border-radius: 0.3rem;
                cursor: pointer;
                transition: all 0.3s var(--transition-quick);

                &:hover {
                    color: var(--color-white);
                    background-color: var(--color-secondary);
                }

            }
        }
    }

    &.dd-products {
        display: none !important;
        flex-direction: column;

        a {
            color: var(--color-black);
            width: 100%;
            transition: all 0.3s cubic-bezier(.2, .6, .24, 1);

            &:hover {
                color: var(--color-secondary);
            }
        }
    }
}

/* Sections - index */

.first {
    padding: 2.5rem 10rem !important;
}

.second {
    padding: 2.5rem 10rem !important;

    & .item-header>h4 {
        font-weight: 800;
    }

    & .lists .link::before {
        background: var(--color-primary);
        height: 1px;
    }

    & .item-header {
        text-transform: uppercase;
    }

    & .item-body {
        padding: 1rem 0;
    }

    & .item-lists-1 {
        max-width: 30rem;
    }

    & .item-lists-2 {
        gap: 1rem;

        & .lists {
            align-content: center;
            justify-content: center;
            min-height: 200px;
            gap: 1rem;
            max-width: 27rem;
        }
    }


}

.hero-section {
    background-color: var(--color-primary);
    padding: 2rem 0;
    height: calc(100dvh - 88px);
}

.lists {
    grid-template-columns: 100px minmax(0, 1fr);
    height: -webkit-fill-available;
    justify-items: center;

    & h4 {
        font-weight: 600;
    }

    & p {
        font-weight: 500;
        font-size: clamp(0.75rem, 1.5vw, 1rem);
        margin-bottom: 0px;
    }

    & a {
        font-weight: 700;
        font-size: clamp(0.75rem, 1.5vw, 1rem);
        color: var(--color-black);
        text-decoration: none;
        width: fit-content;
    }

    & svg {
        grid-area: 1 / 1;
        fill: var(--color-secondary);
        width: 85px !important;
    }
}

.link::before {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: var(--color-black);
    position: relative;
    transform: translateY(1.65rem);
    left: 0;
    transition: width .4s cubic-bezier(.2, .6, .24, 1);
}

.link:hover::before {
    width: 100%;
}

.section-4-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));

    & .item {
        flex: 1 1 auto;
        flex-basis: 145px;
    }
}

.third {
    padding: 3rem 10rem !important;

    & .link {
        max-width: fit-content;

        &:hover {
            color: var(--color-secondary);
        }

        &::before {
            background-color: var(--color-secondary);
            width: 0;
        }

        &:hover::before {
            width: 0;
            left: 0;
            background-color: var(--color-secondary);
        }

        &:focus {
            color: var(--color-secondary);
        }

        &:focus::before {
            background-color: var(--color-secondary);
            height: 3px;
            width: 100%;
        }
    }

    & .products-card {
        min-width: calc(100% - 2.5rem);
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));

        & .card {
            min-width: 10rem;
            min-height: 35rem;
            border-radius: 0.3rem;
            mask-clip: content-box;
            overflow: hidden;
            transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);

            &:hover {
                box-shadow: var(--dropshadow-default);
                mask-clip: content-box;
                transform: scale(1);

                .hover-toolbar {
                    opacity: 1;
                    transform: translateY(-50%);
                    scale: .9;
                    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);

                    & svg {
                        transform: scale(100%);
                    }

                    & .button {
                        position: relative;

                        &::before {
                            /* Tooltip */
                            content: attr(data-tooltip);
                            opacity: 0;
                            display: block;
                            position: absolute;
                            width: max-content;
                            left: 50%;
                            bottom: 100%;
                            background-color: var(--color-black-500);
                            transform: translateX(-50%) translateY(0rem);
                            transition: all .4s cubic-bezier(0.23, 1, 0.320, 1);
                            white-space: none;
                            padding: 0.5rem;
                            border-radius: 0.5em;
                            color: var(--color-white);
                        }

                        &:hover {
                            background-color: var(--color-secondary);
                            transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);

                            &::before {
                                opacity: 1;
                                transform: translateX(-50%) translateY(-.75rem);
                                transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
                            }
                        }
                    }
                }
            }

            & .product-image {
                image-rendering: optimizeSpeed;
                width: 1000%;
                height: 100%;
                object-fit: cover;
            }

            & .hover-toolbar {
                opacity: 0;
                ;
                position: absolute;
                bottom: 30%;
                transform: translateY(60%);
                transition: all 0.3s ease-in-out;
                box-shadow: var(--dropshadow-default);
                z-index: 1;

                & .button {
                    background-color: var(--color-white-400);
                    padding: 1rem 1rem;
                    cursor: pointer;

                    &:first-child {
                        border-radius: 0.3rem 0 0 0.3rem;
                        border-right: 0.05px solid var(--color-white-100);
                    }

                    &:last-child {
                        border-radius: 0 0.3rem 0.3rem 0;
                        border-left: 0.05px solid var(--color-white-100);
                    }

                    svg {
                        fill: var(--color-black-500);
                        width: 20px;
                        transform: scale(100%);
                    }
                }
            }

            .product-details {
                background-color: var(--color-white-500);
                padding: 0rem 0;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                z-index: 1;

                .brand,
                .product,
                .price {
                    margin: 0;
                }

                & .brand {
                    color: #666;
                    margin-top: 1.5rem;
                }

                & .price {
                    margin-bottom: 1.5rem;
                }

            }
        }
    }

    & .a-btn {
        background-color: var(--color-primary);
        padding: 1rem 1rem;
        cursor: pointer;
        border: 0;
        color: var(--color-white-500);
        font-weight: 700;
        border-radius: 0.3rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--color-secondary);
        }
    }
}

.fourth {
    padding: 3rem 10rem !important;

    & .categories {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        min-height: 400px;
        margin: 3.5rem 0 0 0;

        .category {
            width: 320px;
            height: 320px;
            position: relative;
            background-color: red;
            border-radius: 2rem;
            display: inline-block;
            overflow: hidden;
            transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);

            /* Background-image */
            background-position: center;
            background-size: cover;
            aspect-ratio: 1 / 1;
            background-repeat: no-repeat;
            background-clip: content-box;

            &:hover {
                scale: 1.05;
            }

            .text-container {
                color: var(--color-white);
                font-weight: 550;
                background-image:
                    linear-gradient(to bottom,
                        rgba(0, 0, 0, 0),
                        rgba(0, 0, 0, 0.5),
                        rgba(0, 0, 0, 1));
                position: absolute;
                padding: 0.75rem 1.5rem;
                width: 100%;
                top: 65%;
            }
        }

        .item1 {
            background-image: url(../img/assets/pexels-mintworkspace-19304049.jpg);
        }

        .item2 {
            background-image: url(../img/assets/pexels-marcelochagas-7091923.jpg);
        }

        .item3 {
            background-position: bottom;
            background-image: url(../img/assets/pexels-rdne-7915497.jpg);
        }

        .item4 {
            background-image: url(../img/assets/pexels-jethro-c-703137695-18337017.jpg);
        }
    }
}

.footer {
    padding: 3rem 10rem !important;

    .footer-header,
    .footer-footer {
        .link:hover {
            color: var(--color-white);

            &::before {
                background-color: var(--color-secondary);
            }
        }
    }

    .link {
        font-weight: 700;
        width: fit-content;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--color-secondary);
        }

        &::before {
            background-color: var(--color-secondary);
            width: 0;
        }

        &:hover::before {
            width: 100%;
        }
    }

    .footer-body .site-map {
        gap: 12.5rem;

        & .company,
        .products,
        online-store,
        .support {
            min-width: fit-content;
        }
    }
}

/* Login Styles */

.login-field {

    & .login-form form {
        margin: 1.5rem 0;

        & input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            color: var(--color-black-500);
            background-color: var(--color-white-500);
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            border: 1px solid var(--color-white-100);
            margin: 0.5rem 0;
            transition: all 0.3s ease-in-out;

            &::placeholder {
                color: var(--color-black-300);
            }

            &:-webkit-autofill {
                -webkit-text-fill-color: var(--color-black-500);
                -webkit-box-shadow: 0 0 0 1000px var(--color-white-500) inset;
            }
        }
    }

    & .btn {
        background-color: var(--color-primary);
        padding: 0.5rem 1rem;
        border: 0;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--color-secondary);
        }

        &.register {
            width: fit-content;
        }
    }

}

.signup-field {
    margin: 5rem 0;

    h1 {
        margin: 1.25rem 0;
    }

    & input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        color: var(--color-black-500);
        background-color: var(--color-white-500);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        border: 1px solid var(--color-white-100);
        margin: 0.5rem 0;
        transition: all 0.3s ease-in-out;

        &::placeholder {
            color: var(--color-black-300);
        }

        &:-webkit-autofill {
            -webkit-text-fill-color: var(--color-black-500);
            -webkit-box-shadow: 0 0 0 1000px var(--color-white-500) inset;
        }
    }

    & .btn {
        background-color: var(--color-primary);
        padding: 0.5rem 1rem;
        font-weight: 700;
        border: 0;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        
        &.btn-primary {
            background-color: var(--color-primary);
            color: var(--color-white-500);
            
            &:hover {
                background-color: var(--color-secondary);
            }
        }

        &.btn-secondary {
            background-color: var(--color-white-500);
            text-align: center;
            margin: 0 0 1.25rem 0;
            border: 1px solid var(--color-primary);
            color: var(--color-black-500);

            &:hover {
                background-color: var(--color-primary);
                color: var(--color-white-500);
            }
        }
    }
}


/* Media Queries */
@media screen and (max-width: 1400px) {
    .container-fluid {
        padding: 1rem 8rem !important;
    }

    .nav-bar {
        gap: 1.5rem;
    }

    .section-4-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));

        & .item {
            flex-basis: 100%;
        }
    }

    .footer .footer-body .site-map {
        gap: 6rem;
    }
}

@media screen and (max-width: 1200px) {
    .container-fluid {
        padding: 1rem 5rem !important;
    }

    .nav-bar {
        gap: 1.5rem;
    }

    .section-4-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        & .lists {
            width: 100%;
            grid-template-columns: 1fr;
            justify-items: start;
            padding: 1rem 0;
        }

        & .item {
            flex-basis: 100%;
        }
    }

    .second {
        padding: 2.5rem 5rem !important;

        & .content {
            flex-wrap: wrap;
        }

        & .item-lists {
            gap: 1rem;
            flex-direction: row !important;
        }
    }

    .third {
        .products-card {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-rows: repeat(4, minmax(0, 1fr));
        }
    }

    .fourth {
        padding: 3rem 5rem !important;
        flex-direction: column;

        .categories {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 1rem;
            justify-items: center;
        }
    }

    .footer {
        padding: 3rem 5rem !important;

        .footer-body .site-map {
            gap: 6rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .container-fluid {
        padding: 1rem 2rem !important;
    }

    .nav-bar {
        flex-wrap: wrap !important;
        flex-basis: 300px !important;
    }

    header {
        justify-content: center !important;
    }

    .search-bar {
        width: 10rem;
    }

    .search-bar:focus+.search-btn {
        transform: translateX(10rem);
    }

    .nav-bar {
        gap: 1rem;
    }

    .section-4-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        & .item {
            flex-basis: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .container-fluid {
        padding: 1rem 1rem !important;
        display: flex;
        justify-content: center;
    }

    .search-bar {
        width: 8rem;
    }

    .search-bar:focus+.search-btn {
        transform: translateX(5.5rem);
    }

    .nav-bar {
        gap: 0.5rem;
    }

    .section-4-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-content: center;
        justify-items: center;
        max-width: 300px;

        & .item {
            flex-basis: 100%;
        }
    }

    .second {
        padding: 2.5rem 1rem !important;
        display: flex;

        & div:nth-child(1) {
            justify-content: center;
        }

        & .content {
            display: grid;
            grid-template-rows: repeat(2, minmax(0, 1fr));
            max-width: 300px;
            justify-content: center;
            justify-items: center;
        }

        & .item-lists {
            gap: 1rem;
            flex-direction: column !important;
        }
    }

    .footer {
        padding: 1rem 1rem !important;
        text-align: center;

        & .footer-header {
            justify-content: center;
            flex-direction: column;

            & .policy-links {
                gap: 2rem;
                flex-direction: column;
            }
        }

        & .footer-body {
            justify-content: center;

            .site-map {
                flex-direction: column;
            }
        }

        & .footer-footer {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .container-fluid {
        padding: 1rem 0.5rem !important;
    }

    .search-bar {
        width: 6rem;
    }

    .search-bar:focus+.search-btn {
        transform: translateX(3.5rem);
    }

    .nav-bar {
        gap: 0.5rem;
    }

    .section-4-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-content: center;
        justify-items: center;
        max-width: 300px;

        & .item {
            flex-basis: 100%;
        }
    }

    .second {
        padding: 2.5rem 0.5rem !important;
        display: flex;

        & div:nth-child(1) {
            justify-content: center;
        }

        & .content {
            display: grid;
            grid-template-rows: repeat(2, minmax(0, 1fr));
            max-width: 300px;
            justify-content: center;
            justify-items: center;
        }

        & .item-lists {
            gap: 1rem;
            flex-direction: column !important;
        }
    }

    .third {
        .tabs {
            flex-direction: column;
        }

        .products-card {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            grid-template-rows: repeat(4, minmax(0, 1fr));
        }
    }

    .fourth {
        padding: 3rem 0.5rem !important;
        flex-direction: column;

        .categories {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 1rem;
            justify-items: center;
        }
    }

    .footer {
        padding: 1rem 0.5rem !important;
        display: grid !important;
        grid-template-rows: repeat(3, minmax(0, 1fr));
        gap: 0 !important;
        max-height: 110rem !important;

        & .footer-header {
            justify-content: space-between;
            flex-direction: column;
            max-height: 200px !important;
        }

        & .footer-body {
            justify-content: center;
            max-height: fit-content !important;


            & .site-map {
                gap: 4.6rem;
                flex-direction: column;
            }
        }

        & .footer-footer {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 3rem;
        }
    }

}

/* Animations */

@keyframes fadeInDown {
    from {
        opacity: 0;
        height: 0;
    }

    to {
        opacity: 1;
        height: auto;
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        height: auto;
    }

    to {
        opacity: 0;
        height: 0;
    }

}