@import url('../css/root-style.css');

.cookie-banner {
    background-color: var(--color-tertiary);
    gap: 1rem;
    z-index: 999;

    & .btn {
        padding: 0.5rem 1rem;
        border: 0px solid rgba(0, 0, 0, 0);
        cursor: pointer;
    }
}

.search-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 40%;
    padding: 0 0.5rem;
    display: none;
}

.to-top {
    position: sticky;
    bottom: 1rem;
    right: 2.5rem;
    z-index: 999;
    background-color: var(--color-primary);
    border: 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    & svg {
        fill: var(--color-light-100);
        width: 40px;
    }
}

.logo {
    width: 50px;
    max-width: 55px;
}

.search-bar {
    border: 0px solid rgba(0, 0, 0, 0);
    font-weight: 700;
    width: 15rem;
    padding: 0 1rem;
    height: 85%;
    min-height: 85%;
    transition: all 0.3s ease-in-out;
}

.search-bar:focus+.search-btn {
    position: absolute;
    display: block !important;
    transform: translateX(12rem);
    animation: fadeIn 0.3s ease-in-out;
}

.nav-bar {
    gap: clamp(1rem, 3vw, 3rem);
}

.badge::before {
    content: attr(data-badge);
    display: flex;
    width: fit-content;
    position: absolute;
    transform: translate(1.25rem, -2rem);
    scale: 0.80;
    padding: 0 0.75rem;
    border-radius: 5px;
    background-color: var(--color-sale);
    z-index: 1;
}

.badge:nth-child(3)::before {
    transform: translate(3.25rem, -2rem);
    background-color: var(--color-new);
}

.tooltip::after {
    content: attr(data-tooltip);
    display: block;
    opacity: 0;
    width: fit-content;
    height: 0;
    position: absolute;
    transform: translateX(-32.5%);
    scale: 0.80;
    padding: 0 0.75rem;
    font-weight: 600;
    background-color: var(--color-black);
    z-index: 1;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.tooltip:hover::after {
    opacity: 1;
    height: auto;
    transform: translate(-32.5%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.container-fluid {
    padding: 1rem 10rem !important;
}

.first {
    padding: 2.5rem 10rem !important;
}

.second {
    padding: 2.5rem 10rem !important;

    & .item-header>h4 {
        font-weight: 800;
    }

    & .lists .link::before {
        background: var(--color-primary);
        height: 1px;
    }

    & .item-header {
        text-transform: uppercase;
    }

    & .item-body {
        padding: 1rem 0;
    }

    & .item-lists-1 {
        max-width: 30rem;
    }

    & .item-lists-2 {
        gap: 1rem;

        & .lists {
            align-content: center;
            justify-content: center;
            min-height: 200px;
            gap: 1rem;
            max-width: 27rem;
        }
    }


}

.hero-section {
    background-color: var(--color-primary);
    padding: 2rem 0;
    height: calc(100dvh - 88px);
}

.lists {
    grid-template-columns: 100px minmax(0, 1fr);
    height: -webkit-fill-available;
    justify-items: center;

    & h4 {
        font-weight: 600;
    }

    & p {
        font-weight: 500;
        font-size: clamp(0.75rem, 1.5vw, 1rem);
        margin-bottom: 0px;
    }

    & a {
        font-weight: 700;
        font-size: clamp(0.75rem, 1.5vw, 1rem);
        color: var(--color-black);
        text-decoration: none;
        width: fit-content;
    }

    & svg {
        grid-area: 1 / 1;
        fill: var(--color-secondary);
        width: 85px !important;
    }
}

.link::before {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: var(--color-black);
    position: relative;
    transform: translateY(1.65rem);
    left: 0;
    transition: width .4s cubic-bezier(.2, .6, .24, 1);
}

.link:hover::before {
    width: 100%;
}

.section-4-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));

    & .item {
        flex: 1 1 auto;
        flex-basis: 145px;
    }
}

.container-fluid:nth-child(7) {
    padding: 3rem 10rem !important;

    & .link {
        max-width: fit-content;
    }

    & .link::before {
        background-color: var(--color-tertiary);
        height: 1px;
    }

    .company .link::before,
    .products .link::before,
    .support .link::before {
        background-color: white;
    }
}

/* media */
@media screen and (max-width: 1400px) {
    .container-fluid {
        padding: 1rem 8rem !important;
    }

    .nav-bar {
        gap: 1.5rem;
    }

    .section-4-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));

        & .item {
            flex-basis: 100%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .container-fluid {
        padding: 1rem 5rem !important;
    }

    .nav-bar {
        gap: 1.5rem;
    }

    .section-4-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        & .lists {
            width: 100%;
            grid-template-columns: 1fr;
            justify-items: start;
            padding: 1rem 0;
        }

        & .item {
            flex-basis: 100%;
        }
    }

    .second {
        padding: 2.5rem 5rem !important;

        & .content {
            flex-wrap: wrap;
        }

        & .item-lists {
            gap: 1rem;
            flex-direction: row !important;
        }
    }
}

@media screen and (max-width: 992px) {
    .container-fluid {
        padding: 1rem 2rem !important;
    }

    .nav-bar {
        flex-wrap: wrap !important;
        flex-basis: 300px !important;
    }

    header {
        justify-content: center !important;
    }

    .search-bar {
        width: 10rem;
    }

    .search-bar:focus+.search-btn {
        transform: translateX(10rem);
    }

    .nav-bar {
        gap: 1rem;
    }

    .section-4-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        & .item {
            flex-basis: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .container-fluid {
        padding: 1rem 1rem !important;
        display: flex;
        justify-content: center;
    }

    .search-bar {
        width: 8rem;
    }

    .search-bar:focus+.search-btn {
        transform: translateX(5.5rem);
    }

    .nav-bar {
        gap: 0.5rem;
    }

    .section-4-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-content: center;
        justify-items: center;
        max-width: 300px;

        & .item {
            flex-basis: 100%;
        }
    }

    .second {
        padding: 2.5rem 1rem !important;
        display: flex;

        & div:nth-child(1) {
            justify-content: center;
        }

        & .content {
            display: grid;
            grid-template-rows: repeat(2, minmax(0, 1fr));
            max-width: 300px;
            justify-content: center;
            justify-items: center;
        }

        & .item-lists {
            gap: 1rem;
            flex-direction: column !important;
        }
    }
}

/* Animations */

@keyframes fadeInDown {
    from {
        opacity: 0;
        height: 0;
    }

    to {
        opacity: 1;
        height: auto;
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        height: auto;
    }

    to {
        opacity: 0;
        height: 0;
    }

}