.DS_Store

# Images
img/ERR-Diagram.png

# For security do not publish the following files
SQL Queries.docx
sql/pixelplay.sql
.php_tmp
PixelPlaza_Workspace.code-workspace

# Do not publish the following mysql workbench file
sql/err-diagram.mwb